.color {
    width: 100%;
}

.lock-holder {
    background: rgba(0, 0, 0, .5);
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.icon {
    pointer-events: none;
}