.color {
    width: 100%;
}
.color-red {
    background: #e74c3c;
}

.color-blue {
    background: #3498db;
}

.color-green {
    background: #2ecc71;
}

.color-yellow {
    background: #f1c40f;
}

.lock-holder {
    background: rgba(0, 0, 0, .5);
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}